body {
  overflow-x: hidden;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

/*rewrite*/
.card {
  background-color: transparent !important;
}
/* .card:hover{
border: 2px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #0066ff, #00ffff);
} */

.removeIcon.fas {
  display: none;
}

.back {
  z-index: 30;
}

ul.slick-dots {
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
}

ul.slick-dots > li > button {
  margin-right: 4px;
  background-color: #00a2e8;
  border: none;
  box-shadow: none;
  font-size: 0;
  height: 8px;
  width: 20px;
  outline: none !important;
}
ul.slick-dots > li > button:hover {
  height: 9px;
  width: 21px;
}
ul.slick-dots > li.slick-active > button {
  height: 10px;
  width: 22px;
}
/*rewrite*/

body {
  background: #141414;
  color: #eee;
}

.titler img {
  width: 200px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  margin: 1px;
  height: inherit !important;
}
.slick-slide > div {
  height: 100% !important;
}

button.slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 10;
  width: 40px;
  align-items: center;
  justify-content: center;
}

button.slick-arrow.slick-next {
  right: 0px;
  top: 0;
}

button.slick-arrow.slick-prev {
  left: 0px;
}

button.slick-disabled {
  opacity: 0 !important;
}

.flickfeed,
.flickfeed3,
.flickfeed4,
.flickfeed2 {
  opacity: 0;
}

.slick-initialized {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.flix-parents {
  /*overflow: hidden;*/ /* bug  hover*/
}

.flix-parents {
  position: relative;
  z-index: 5;
}
.parent {
  margin: 0px 0px 40px 0px  ;
}
.flixer {
  position: relative;
  z-index: 5;
  height: 500px;
}

.video-list-slider {
  background: 0 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  position: relative;
}

.slick-list {
  overflow: visible;
  position: relative;
  z-index: 5;
}

.flickfeed .slick-slide .card,
.flickfeed3 .slick-slide .card,
.flickfeed4 .slick-slide .card,
.flickfeed2 .slick-slide .card {
  border-radius: 0px;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s;
  border: 0;
  display: flex !important;
}

.slick-slide {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s;
}
.slick-slide:hover {
  transform: scale(1.5);
  z-index: 3;
}

/*.prevslides {
  transform: translateX(-3.95vw);
}

.nextslides {
  transform: translateX(3.95vw);
}

.furthernextslides {
  transform: translateX(7.9vw);
}

.furtherprevslides {
  transform: translateX(-7.9vw);
}*/

.firster {
  transform-origin: center left !important;
}

.laster {
  transform-origin: center right !important;
}

body .mpp-dot .mpp-content {
  overflow: visible;
}

.flickfeed .card,
.flickfeed3 .card,
.flickfeed4 .card,
.flickfeed2 .card {
  position: relative;
  /*overflow: hidden;*/
}
.flickfeed .card .back,
.flickfeed3 .card .back,
.flickfeed4 .card .back,
.flickfeed2 .card .back {
  width: 100%;
  transition: height 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s;
  background-color: #191a1c;
  position: relative;
  overflow: hidden;
}

@keyframes delay-overflow-from-hidden {
  from {
    overflow: hidden;
  }
}

.flickfeed .card .mpp-playlist-item-active .back,
.flickfeed3 .card .mpp-playlist-item-active .back,
.flickfeed4 .card .mpp-playlist-item-active .back,
.flickfeed2 .card .mpp-playlist-item-active .back {
  animation: 0.9s delay-overflow-from-hidden;
  overflow: visible;
}

.flickfeed .card .back h1,
.flickfeed .card .back p,
.flickfeed4 .card .back h1,
.flickfeed4 .card .back p,
.flickfeed3 .card .back h1,
.flickfeed3 .card .back p {
  margin: 0;
  color: #fff;
}

.back .h4 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}

.back p {
  font-size: 10px;
  opacity: 0.9;
}

button.more {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 10%;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z' /%3E%3C/svg%3E");
  left: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  font-size: 0px;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.container.text-white {
  height: 200px;
}

.mpp-content .mpp-sound-toggle {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 0.2) !important;
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
}
.mpp-playlist-item-active .mpp-content .mpp-sound-toggle {
  visibility: visible;
  opacity: 1;
}

.mute-video {
  background: url("./muteb.png") no-repeat center;
  background-size: 12px;
  border: 0;
  width: 25px;
  height: 25px;
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  z-index: 2147483647;
  cursor: pointer;
  position: absolute;
}
.mute-video.unmute-video {
  background-image: url("./volumeb.png");
}

.back-content {
  padding: 8px;
  background-color: #191a1c;
}

.flickfeed {
  position: relative;
}
.flickfeed .back-content {
  padding: 8px;
  padding-bottom: 25px;
  background-color: #191a1c;
}

.back .mpp-controls {
  position: relative;
  opacity: 1;
  transform: none;
  gap: 8px;
  padding: 1px;
  float: right;
  margin-left: 6px;
}

.back .mpp-contr-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: 1px solid rgba(255, 255, 255, 0.2) !important;
}
.mpp-contr-btn[data-tooltip]:after {
  font-size: 0.6em;
}
.back .mpp-contr-btn svg {
  height: 12px;
}

/*@media screen and (max-width: 700px) {
  button.slick-prev.slick-arrow {
    display: none !important;
  }
  button.slick-next.slick-arrow {
    display: none !important;
  }
}*/
.slick-slide:hover {
  transform: scale(1.2) !important;
}
.pupo.slick-slide:hover {
  transform: scale(1) !important;
}

@media screen and (max-width: 480px) {
  /*.prevslides,
  .nextslides,
  .furthernextslides,
  .furtherprevslides {
    transform: none;
  }*/

  .firster,
  .laster {
    transform-origin: center center !important;
  }
  .pupo.slick-slide:hover {
    transform: none;
  }
  .slick-slide:hover {
    transform: none !important;
  }
}

.videoContainer {
  display: none;
  z-index: 999;
  position: relative;
  bottom: 200px;
  background-color: white;
  justify-content: center;
  align-items: center;
  background: inherit;
}

#closeButton {
  z-index: 9999;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  font-weight: 600;
}
.close:hover {
  opacity: 1;
}
.modal1 {
  display: none;
  height: 20%;
  width: 67%;
  background-color: black;
  /* opacity: .5; */
  /* margin: auto; */
  position: relative;
  bottom: 50%;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.alertMsg {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1 px solid;
  background: rgb(111, 134, 111);
  bottom: 0;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 49px;
  width: 200px;
}
.watched,
#watched,
#watched1,
#watched2 {
  border-bottom: 2px solid rgb(121 121 124);
  /* border-color: #007bff; */
  /* padding: 1rem; */
  width: 100%;
  height: 1.5rem;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  letter-spacing: 2px;
}
#homeVideo button.btn.btn-default {
  background: black;
  border-radius: 50%;
  position: absolute;
  right: 0;
  z-index: 5;
  color: white;
}

progress {
  color: green;
  font-size: 12px;
  width: 220px;
  height: 5px;
  border: none;
  margin-right: 10px;
  background: #434343;
  border-radius: 9px;
  vertical-align: middle;
}
progress::-moz-progress-bar {
  color: green;
  background: #434343;
}

progress[value]::-webkit-progress-bar {
  background-color: #434343;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  /*background-color:#00ddff;*/
  background-image: linear-gradient(#0066ff, #00ddff);
}
video::-webkit-media-controls-fullscreen-button {
  display: "";
}
video::-webkit-media-controls-play-button {
  display: none;
}
/*
btn-group-lg>.btn, .btn-lg {
/*padding: .5rem 1rem;
font-family: sans-serif;	
text-align:center;
font-size:16px;	
}
*/

.border-gradient {
  border-image-slice: 1;
  border-width: 3px;
   background: transparent;
  color: #9dd7e0;
  padding: 10px;
}

.border-gradient:hover {
color:#9dd7e0;

} 

 .border-gradient-purple {
border-image-source: linear-gradient(to left, #0066ff, #00ffff);

}

.homeSlider {
  display: flex;
  flex-wrap: wrap;  
 }
 @media (min-width: 1080px ) {
  .favi {
   flex: 0 1 16.30%;
  }
 }
 @media (max-width: 992px ) {
  .favi {
   flex: 0 1 30.15%;
  }
 }
 @media (max-width: 767px ) {
  .favi {
    flex: 0 1 50%;
  }
 }
 @media (max-width: 468px ) {
  .favi {
    flex: 1 1 100%;
  }
 }
.border-gradient-purple:hover {
  border-image-source: linear-gradient(to right, #0066ff, #00ffff);
} 

.traxer {
  color: transparent;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-open .modal2 {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade {
  transition: opacity 0.15s linear;
}

.modal-dialog {
  z-index: 9999;
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  transform: none;
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal2.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.modal2.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal2.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.status {
  left: 8px;
}
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #141414;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.mybutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive1 {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive::before {
  display: block;
  content: "";
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.cnvax {
  width: 20rem;
  height: 10rem;
  cursor: pointer;
  color: #fff;
}

.cnvax:hover {
  width: 35rem;
  height: 20rem;
}

.fux {
  position: absolute;
  /*z-index:2;*/
  display: flex;
  /*background-image:url(fullscreen.png);
background-repeat:no-repeat;*/
  background: rgba(0, 0, 0, 0.4);
  margin: 8px;
}

.parent {
  background-color: #141414;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
#gossHistory {
  background-color: #141414;
  min-width: 600px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}
.card1 {
  width: 25%;
  height: 25%;
  margin: 0.3rem;
  border-radius: 5px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.videoList {
  border-radius: 5px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog2 {
    max-width: 1000px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}
.modal-xlg {
  max-width: 1000px;
  margin: 1.75rem auto;
}
@media (min-width: 992px) {
  .modal-lg2 {
    max-width: 800px;
  }
}

.toast1 {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 9999;
}

.toast1.active {
  transform: translateX(0%);
  background:#222;
  height:40%;
}

.toast1 .toast-content {
  display: flex;
  align-items: center;
  
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  
}

.message .text.text-1 {
  font-weight: 600;
  color: #fff;
  
}
.text-3 {
  font-weight: 600;
  color: #fff;
}
.first {
  z-index: 10000;
  position: absolute;
  
}
.toast1 .close1 {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
  
}

.toast1 .close1:hover {
  opacity: 1;
  
}

.toast1 .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  
}

.toast1 .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.button {
  /* padding: 12px 20px; */
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #4070f4;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #0e4bf1;
}

.toast.active ~ .button {
  pointer-events: none;
}
